@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Roboto+Condensed&display=swap');

/*
font-family: 'Readex Pro', sans-serif;
font-family: 'Yomogi', cursive;
*/

* {
    margin: 0;
    bottom: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: linear-gradient(45deg, rgb(44, 111, 255), rgb(44, 2, 99));
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main.container {
    background: white;
    max-width: 350px;
    min-height: 20vh;
    padding: 5rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.432);
    border-radius: 10px;
}

main h2 {
    margin-left: -50px;
    margin-top: -50px;
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    font-family: 'Readex Pro', sans-serif;
}

main h2::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 29px;
    bottom: 0px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, rgb(44, 111, 255), rgb(44, 2, 99));
}

form {
    display: flex;
    flex-direction: column;
    margin-left: -50px;
    margin-right: -50px;
}

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(128, 128, 128, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, rgba(44, 111, 255, 0.7), rgba(44, 2, 99, 0.8));
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    border-color: white;
    webkit-box-shadow: none;
    box-shadow: none;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    margin-top: 1rem;
    padding: 0.4rem;
    width: 100%;
    background: linear-gradient(45deg, rgba(44, 111, 255, 0.7), rgba(44, 2, 99, 0.8));
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    letter-spacing: 1px;
    background: linear-gradient(45deg, rgb(44, 111, 255), rgb(26, 2, 58));
}

.footer {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: -40px;
}

.footer span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 0.7rem;
    text-align: center;
}

.footer .social-field {
    margin-left: -20px;
    margin-right: 20px;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 120%;
    cursor: pointer;
    margin-top: 1rem;
}

.footer .social-field a i {
    margin: 0 0.5rem;
    width: 15px;
}

.footer .social-field a {
    text-decoration: none;
    color: white;
}

.footer .github {
    background: linear-gradient(to right, #56a7f2, #468aca);
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 0.25rem;
}

.footer .linkedin {
    background: linear-gradient(to right, #1e3c72, #2a5298);
    border-radius: 4px;
    padding: 0.25rem;
}